---
version: '2'
services:
   web:
      image: nginx:latest
      links:
         - php
      ports:
         - "8080:80"
      volumes:
         - ./nginx.conf:/etc/nginx/conf.d/default.conf
      volume_from:
         - php
   php:
      build: php-7.0-fpm-custom
      environment:
         -TY03_CONTEXT=Development/Docker
      links:
         - db
         - redis
      volumes:
         - ./htdocs:/var/www/html
   db:
      image: mariadb:10.1
      environment:
         - MYSQL_ROOT_PASSWORD=secret
      volumes:
         - ./mysql:/var/lib/mysql
   redis:
      image: redis:latest
---